
.boton-carrito {
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 30px;
    cursor: pointer;
    background-color:  rgb(217, 179, 196);
    color: black;
    border: none;
    border-radius: 10px;
}
.boton-carrito:hover {
    color: white;
    background-color:  rgb(131, 24, 68);
}

.boton-check {
    text-decoration: none;
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
}


.titulo-cart {
    text-align: center;
    padding: 30px 50px;
}

.titulo-c {
    margin: 10px;
} 

.titulo-bot {
    margin: 30px;
}

.total {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.botones-cart-item {
    display: flex;
    justify-content: end;
}