.checkout {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .titulo-checkout {
    background-color: rgba(132, 177, 149, 0.5);
    color: black;
    font-weight: bold;
  }
  .detalle-compra-lista {
    list-style: none;
    padding: 0;
  }
  
  .detalle-compra-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    
  }
  
  .detalle-compra-nombre {
    text-align: left;
    margin-left: 10px;
  }
  
  .detalle-compra-precio {
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .detalle-compra-total {
    text-align: right;
  }
  
  /* Estilo para el texto "Total" */
  .total-text {
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
    padding: 10px;
    background-color:  rgba(158, 201, 174, 0.5);
    border-radius: 10px;
  }

 
.form-grupo {
  max-width: 800px;
  margin: 15px auto ;
}

.form-grupo-button {
  background-color:  rgb(217, 179, 196);
  color: black;
  border: none;
  margin-top: 15px;
  padding: 10px;
}

.boton-form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-grupo-button:hover {
color: white;
background-color:  rgb(131, 24, 68);
}

.placeh {
  background-color: rgba(224, 235, 229, 0.5);
}

.placeh:focus {
  border: 1px solid rgb(118, 136, 123);
  box-shadow: 4px 4px 4px rgba(125, 148, 130, 0.7);
}

.label {
  font-weight: bold;
}


.vista-order {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 200, 211, 0.7);
  padding: 50px;
  border-radius: 10px;
}

.img-order {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.order-titulo {
  color: rgb(90, 18, 48);
  
}

.order-p {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(114, 43, 73);
}

.order-subp {
  margin-top: 10px;
  font-size: 24px;
  color: rgb(114, 43, 73);
}

@media only screen and (max-width:750px) {
  .order-p, .order-subp {
      font-size:18px;
      align-content: center;
  }
}

@media only screen and (max-width:950px) {
  .order-p, .order-subp {
      font-size:20px;
      align-content: center;
  }
}


@media only screen and (max-width:750px) {
  .order-titulo {
      font-size:23px;
      align-content: center;
  }
}

@media only screen and (max-width:950px) {
  .order-titulo {
      font-size:30px;
      align-content: center;
  }
}

@media only screen and (max-width:750px) {
  .img-order {
      width: 350px;
      height: 250px;
  }
}
