
.boton-cart {
    text-decoration: none;
    padding: 12px 20px;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    background-color:  rgb(217, 179, 196);
    color: black;
    border: none;
    border-radius: 10px;
}

.boton-cart:hover {
    color: white;
    background-color:  rgb(131, 24, 68);
  }

.mb-3 {
    margin-top: 10px;
}