img {
    width: 19px;
    height: 19px;
    margin: 0 9px 5px;
}

.quantity {
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

.carrito {
    color: black;
    border: 2px solid rgb(114, 155, 120);
    margin-left: 5px;
    padding: 4px 10px;
    border-radius: 8px;
  }
  
  .carrito:hover {
    color: white;
    background-color:  rgb(182, 110, 140);
    border: 2px solid rgb(182, 110, 140);
  }
  
