.Contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .controles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .boton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    background-color:  rgb(217, 179, 196);
    color: black;
    border: none;
    border-radius: 10px;
  }
  
  .numero {
    font-size: 20px;
    margin: 0 10px;
  }
  


  .boton:hover {
    color: white;
    background-color:  rgb(131, 24, 68);
  }
  